/*Definir padrão para todos elementos, por isso usamos *(asteristico) */

* {
    margin: 0;
    padding: 0;
}

.site-container {
    width: 1115px;
    margin: 0 auto;
}

@media (max-width: 1250px) {
    width: 90%;
}

.nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    margin-top: 10px;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    color: #fff;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
}

.nav-menu .nav-menu-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3%;
    border: 5px solid #fff;
    border-radius: 15px;
    background-color: #ff69b4;    
}

.nav-menu .nav-menu-list li {
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
    font-family: cursive;
}

.nav-menu .nav-menu-list a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.nav-menu .nav-menu-list a:hover {
    color: #FFC0CB;
    }

.menu-toggle {
    cursor: pointer;
    z-index: 3;
    margin-right: 20px;
}

.line1, .line2, .line3 {
    width: 30px;
    height: 3px;
    background-color: #FF1493;
    margin: 6px 0;
    transition: 0.4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: #FF1493;
}

.change .line2 {
    opacity: 0;
    background-color: #FF1493;
}

.change .line3 {
    transform: rotate(45deg) translate(-6px, -7px);
    background-color: #FF1493;
}

.container-banner {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: url("../img.png");
    background-position: center;
    background-size: cover;
}

.container-banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.85;
}

.container-banner .site-container {
    position: relative;
    z-index: 1;
}

.banner_inner {
    display: flex;
    align-items: center;    
}

.banner_text {
    text-align: center;
}

.banner_inner .banner_span {
    font-size: 50px;
    font-family: cursive;
    letter-spacing: 3px;
    color: #fff;
    margin: left;
}

.banner_inner .banner_img {
    font-size: 0;
    opacity: 0.85;
    background-position: center;
    background-size: 300px auto;
    margin-right: 30px; 
    border: 3px solid #8b358b;
    border-radius: 20px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 #0000001a;
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front img {
    display: block; 
    border-radius: 21px;
}

.flip-card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #be55be;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: justify;
    font: italic 24px 'Roboto', sans-serif;
}

